
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-route="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-route="Login">Login</a>
    </li>


</ul>